#image {
	        position:absolute;
	        top:0;
	        right:0;
	        background-image: url("doha-qatar-hd__large.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: right top;
            opacity: 0.95;
            height: 100%;
            width: 100%;
            color: white;

}

.text h1 {

           font-size: 50px;
           text-align: center;
           line-height: 150px;
           padding:50px 50px;
           font-weight: bold;
           font-family: sans-serif;
}

.text p3 {
	       font-size: 25px;
           text-align: center;
           padding:350px 400px;
           font-weight: bold;
           font-family: sans-serif;
}




.col-sm-1 {
    padding: 190px 230px;
}


.button_icon_1{
	background-image: url("Escape_salou_icon_A.png");
	background-position: center;
	background-repeat: no-repeat;
	padding: 50px 70px;
	font-family: sans-serif;
	color: black;
}

.button_icon_2 {
	background-image: url("yapi.png");
	background-position: center;
	background-repeat: no-repeat;
	padding: 50px 70px;
	font-family: sans-serif;
	color: black;
}

.button_icon_3 {
	background-image: url("icohousing.png");
	background-position: center;
	background-repeat: no-repeat;
	padding: 50px 70px;
	font-family:sans-serif;
	color: black;
}


